<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
  	<header> <h1>Profile Info</h1> </header>
    <section class="user_info">
       <%= gravatar_for @user %>
      <p><strong>Name:</strong> <%= @user.name %> </p>
      <p><strong>Username:</strong> <%= @user.username %> </p>
    </section>
    <%= button_to "Edit your profile", edit_user_path, :method => "get" , class: "btn btn-primary" %>
  </aside>
</div>