<div id='welcome_banner'>
	<h1 id='about_title'>About</h1>
<div style="background-color: rgba(128,128,128,0.8); text-align: center">
<p style='font-size:300%'>This App was done by:</p>
		<div style="text-align: center; padding:5px; font-size:140% ">
		<p>Soroush Vaghaye-negar</p><hr width="50%">
		<p>Ronny Lin</p><hr width="50%">
		<p>Daniyar Ospanov</p><hr width="50%">
		<p>Benjamin Ng</p>
		</div>
</div>
</div>

<body background="1.jpg">
	</body>