<div class="center jumbotron">
	<h1>About</h1>
<div style="background-color: white; text-align: left">
<p>This App was done by:</p>
	<ul class="users" >
		<li>Soroush Vaghaye-negar</li>
		<li>Ronny Lin</li>
		<li>Daniyar Ospanov</li>
		<li>Benjamin Ng</li>
	</ul>
</div>
</div>

<body background="1.jpg">
	</body>