<div class="center jumbotron">
	<% if logged_in? %>
		<h1>YOU ARE LOGGED IN!</h1>

		<% if current_user.admin? %>
			<%= link_to "LOAD THE DATA!", '#', class: "btn btn-lg btn-primary" %>
		<% end %>
	<% else %>
	<h1>Welcome to Vancouver Construction Map</h1>
	<p> Don't have an account? </p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>