<% provide(:title, "HOME") %>
<div class="center jumbotron">
<% if logged_in? %>
		<h1 style="color:#D1D1D1">Map with KML</h1>
		
		<div style="position: relative;top:300px;left:-40px">
			<div class="check">
			  <label><input type="checkbox" value="" id="RC" checked>Road Closures</label>
			</div>
			<div class="check">
			  <label><input type="checkbox" value="" id="OG" checked>Ongoing Constructions</label>
			</div>
			<div class="check">
			  <label><input type="checkbox" value="" id="FC" checked>Future Constructions</label>
			</div>
		</div>

		<%= render 'map_kml' %>
        <a class="twitter-timeline" href="https://twitter.com/CPSCBot" data-widget-id="581186757653356546" width="200px">Tweets by @CPSCBot</a>

		<% if current_user.admin? %>
		<br/>
			<%= link_to "LOAD THE DATA!", update_path, style:"position: relative;left: 400px;",class: "btn btn-lg btn-success"%>
		<% end %>
		<body background="m.jpg">
</body>
<% else %>
<div class="center jumbotron">
	<h1>Welcome to Vancouver Construction Map</h1>
	<p> Don't have an account? </p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<body background="1.jpg">
	</body>
	<% end %>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




