<% provide(:title, "HOME") %>
<div class="center jumbotron">
	<% if logged_in? %>
		<h1>Map with KML</h1>
		

		<div class="check">
		  <label><input type="checkbox" value="" id="RC" checked>Road Closures</label>
		</div>
		<div class="check">
		  <label><input type="checkbox" value="" id="OG" checked>Ongoing Constructions</label>
		</div>
		<div class="check">
		  <label><input type="checkbox" value="" id="FC" checked>Future Constructions</label>
		</div>
	
		<%= render 'map_kml' %>
		
		<% if current_user.admin? %>
			<%= link_to "LOAD THE DATA!", update_path, class: "btn btn-lg btn-primary"%>
		<% end %>
	<% else %>
	<h1>Welcome to Vancouver Construction Map</h1>
	<p> Don't have an account? </p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>




