<% provide(:title, "Table") %>
<h1 style='font-size:500%; background-color:rgba(192,192,192,0.7); color:black'>Table Of Construction Data</h1>
<h3 style='text-align:center;font-size:200%;color:red'>Click on each construction type to get more info or share them on Twitter!</h3>
<%= render 'data' %>