@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}

.check{
  color:white;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #4C4C4C;
}

#googleMap{
  width:1000px; 
  height:700px;
  right: 40px;
}

#checkbox_box{
  position: relative;
  top:-680px;
  left:85%; 
  width:200px;
  border: 5px solid black;
}

#welcome_banner{
  background-color:rgba(192,192,192,0.7);
  padding: 25px;
}

#banner_title{
  color:#202020 ;
  font-size: 700%;
}

#about_title{
  color:#484848;
  font-size: 600%;
}

#signup{
  position: relative;
  top:140px;
  color:white;
  text-align: center;
}

.text_b{
  position: relative;
  width: 10px;
  top: 0px;
  left: -8px
}

#label_tb{
  position: static;
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-style: inherit;
}

#check_head{
  position:relative;
  font-size: 22px;
  font-style: normal;
}

#row_checkbox{
  height: 27px
}

.save_pref{
  width: 300px;
}

.btn-group-vertical > button{
  margin-bottom:10px;
  border-radius:10px !important;
}

.constr_info {
  position: relative;
  left: 180px;
  top: -100px
}

#admin_butts {
  position: relative;
  left: -50px;
  top: 50px
}

